body {
    background-color: #eeeeee!important;
}
.firstCard {
    margin: 0 auto;
}

.myCard {
    position: relative;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    /* s */
    transition: transform 1s;
    transform-style: preserve-3d;
}

.firstHeart {
    position: absolute; 
    left: 10px; 
    top: 10px; 
    font-size: 24px; 
    text-align: center; 
    color: red;
}
.secondHeart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: scale(1,-1);
    font-size: 24px;
    color: red;

}

.centerFont{
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 80px;
    font-family: 'Oleo Script', cursive;
}

.backCard {
    background: url("../images/cards/back.png") no-repeat center center / cover;
    background-color: none;
}

.frontCard {
    background: none!important;
    background-color: white!important;
    border: 1px solid #AD2D20;
    transform: rotateY(360deg);
}
/* .listRounds li {
    list-style-type: none;
    text-align: center;
    border-radius: 10px;
    background-color: #AD2D20;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
} */