body {
    background-color: #eeeeee!important;
}
.firstCard {
    margin: 0 auto;
}
.myCard {
    position: relative;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    /* s */
    transition: transform 1s;
    transform-style: preserve-3d;
}
.firstHeart {
    position: absolute; 
    left: 10px; 
    top: 10px; 
    font-size: 24px; 
    text-align: center; 
    color: red;
}
.secondHeart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: scale(1,-1);
    font-size: 24px;
    color: red;

}
.centerFont{
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 80px;
    font-family: 'Oleo Script', cursive;
}

.backCard {
    background: url("../images/cards/back.png") no-repeat center center / cover;
    background-color: none;
}

.frontCard {
    background: none!important;
    background-color: white!important;
    border: 1px solid #AD2D20;
    transform: rotateY(360deg);
}

.evenCard1 {
    position: relative;
    width: 80px;
    height: 150px;
    background: url("../images/cards/back.png") no-repeat center center / cover;
    border-radius: 10px;
    border: 1px solid white;
}
.evenCard2 {
    position: relative;
    top: -10px;
    left: -40px;
    z-index: 1;
    width: 80px;
    height: 150px;
    background: url("../images/cards/back.png") no-repeat center center / cover;
    border-radius: 10px;
    border: 1px solid white;
}
.evenCard3 {
    position: relative;
    top: -20px;
    left: -80px;
    z-index: 2;
    width: 80px;
    height: 150px;
    background: url("../images/cards/back.png") no-repeat center center / cover;
    border-radius: 10px;
    border: 1px solid white;
}

.warCard {
    position: relative;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 150px;
    background: white;
    border-radius: 10px;
    border: 1px solid red;
}

.firstWar {
    position: absolute; 
    left: 5px; 
    top: 0px; 
    font-size: 24px; 
    text-align: center; 
    color: red;
}
.secondWar {
    position: absolute;
    bottom: 0px;
    right: 5px;
    transform: scale(1,-1);
    font-size: 24px;
    color: red;
}
.centerWar{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 80px;
    font-family: 'Oleo Script', cursive;
}
